.calendar {
  margin: 30px auto;
  max-width: 600px;
  font-size: 14px;
}
.calendar .clndr .clndr-table {
  table-layout: fixed;
  width: 100%;
}
.calendar .clndr .clndr-table .header-days {
  height: 30px;
  font-size: 10px;
  background: #0D70A6;
}
.calendar .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  color: #fff;
}
.calendar .clndr .clndr-table .header-days .header-day:last-child {
  border-right: 1px solid #000000;
}
.calendar .clndr .clndr-table tr {
  height: 85px;
}
.calendar .clndr .clndr-table tr td {
  vertical-align: top;
}
.calendar .clndr .clndr-table tr .day {
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  width: 100%;
  height: inherit;
}
.calendar .clndr .clndr-table tr .day:hover {
  background: #eee;
}
.calendar .clndr .clndr-table tr .day.today {
  background: #9AD6E3;
}
.calendar .clndr .clndr-table tr .day.today:hover {
  background: #72c6d8;
}
.calendar .clndr .clndr-table tr .day.today.event {
  background: #a7dbc1;
}
.calendar .clndr .clndr-table tr .day.event {
  background: #B4E09F;
}
.calendar .clndr .clndr-table tr .day.event:hover {
  background: #96d478;
}
.calendar .clndr .clndr-table tr .day.inactive {
  background: #ddd;
}
.calendar .clndr .clndr-table tr .day:last-child {
  border-right: 1px solid #000000;
}
.calendar .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  padding: 8px;
  font-size: 12px;
  text-align: right;
}
.calendar .clndr .clndr-table tr .empty,
.calendar .clndr .clndr-table tr .adjacent-month {
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  width: 100%;
  height: inherit;
  background: #eee;
}
.calendar .clndr .clndr-table tr .empty:hover,
.calendar .clndr .clndr-table tr .adjacent-month:hover {
  background: #ddd;
}
.calendar .clndr .clndr-table tr .empty:last-child,
.calendar .clndr .clndr-table tr .adjacent-month:last-child {
  border-right: 1px solid #000000;
}
.calendar .clndr .clndr-table tr:last-child .day {
  border-bottom: 1px solid #000000;
}
.calendar .clndr .clndr-table tr:last-child .empty {
  border-bottom: 1px solid #000000;
}