body {
	padding-top: 15px;
	padding-bottom: 15px;
}
nav {
	border-bottom: 1px solid #eee;
}
/* Make the masthead heading the same height as the navigation */
nav h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
#content {
	padding-top: 50px;
	padding-bottom: 50px;
}
footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/* ==========================================================================
   CALENDAR
   ========================================================================== */
.calendar .clndr .clndr-table tr .day .day-contents {
  height: 100%;
}
.event-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
}
.event-title .holiday {
  font-size: 0.9em;
}
.calendar .header-day {
  font-size: 1.25em;
}
/* Today */
.calendar .clndr .clndr-table tr .day.event.today {
  background-color: #B871FF;
}
.calendar .clndr .clndr-table tr .day.event.today:hover {
  background-color: #A448FF;
}
/* Holidays */
.calendar .clndr .clndr-table tr .day.event.holiday {
  background-color: #FFC559;
}
.calendar .clndr .clndr-table tr .day.event.holiday:hover {
  background-color: #FFB935;
}
.calendar .clndr .clndr-table tr .day.event input, .event-title, .day.event.holiday textarea {
  height: 100%;
  width: 100%;
  text-align: center;
  resize: none; /* Hide resize corner */
  vertical-align: middle;
  background-color: transparent;
  border: none;
  padding: 2px;
  overflow: hidden;
}
.day.event input:focus, .day.event textarea:focus {
  outline: 0;
  background-color: #ccc;
}
@media (max-width: 590px) {
  .calendar .title {
    font-size: 1.4em;
  }
  .holiday > .day-contents > .event-title > textarea {
    font-size: 0.5em;
  }
}
@media (min-width: 768px) {
  .holiday > .day-contents > .event-title > textarea {
    font-size: 0.7em;
  }
}
@media (min-width: 1000px) {
  .calendar {
    max-width: 1000px;
  }
  .calendar .clndr .clndr-table tr {
    height: 141px; /* 66% increase */
  }
  .event-title > input {
    font-size: 2em;
  }
  .holiday > .day-contents > .event-title > textarea {
    font-size: 1em;
  }
}

/* ==========================================================================
   PRINT
   ========================================================================== */

.btn-lg {
  padding: 25px;
  font-size: 25px;
}

@media print {
  #calendars:first-child {
    /* Remove blank page before first calendar */
    /*page-break-before: avoid;*/
  }
  .calendar {
    /* Each calendar on a separate page */
    page-break-before: always;
    /*max-width: 100%;
    width: 90%;*/
  }
  .calendar .clndr .clndr-table tr {
    height: 200px;
  }
  nav, footer, .controls {
    visibility: hidden;
    display: none;
  }
}