body {
	padding-top: 15px;
	padding-bottom: 15px;
}
nav {
	border-bottom: 1px solid #eee;
}
/* Make the masthead heading the same height as the navigation */
nav h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
#content {
	padding-top: 50px;
	padding-bottom: 50px;
}
footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/* ==========================================================================
   CALENDAR
   ========================================================================== */
.event-title {
  height: inherit;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
}
.event-title .long {
  font-size: 1.1em;
}
.calendar .header-day {
  font-size: 1.25em;
}
@media (max-width: 450px) {
  .calendar .title {
    font-size: 1.3em;
  }
}
@media (min-width: 1000px) {
  .calendar {
    max-width: 1000px;
  }
  .calendar .clndr .clndr-table tr {
    height: 141px; /* 66% increase */
  }
  .event-title {
    font-size: 2em;
  }
}