body {
	padding-top: 15px;
	padding-bottom: 15px;
}
nav {
	border-bottom: 1px solid #eee;
}
/* Make the masthead heading the same height as the navigation */
nav h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
#content {
	padding-top: 50px;
	padding-bottom: 50px;
}
footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* ==========================================================================
   UTILITY CLASSES
   ========================================================================== */

